<h1>Listing schools</h1>

<% @schools.each do |school| %>
    <%= render partial: "school", locals: {:school => school} %>
<% end %>


<br>

<%= link_to 'New School', new_school_path %>
<%= link_to 'Home', '/'%>
