<p id="notice"><%= notice %></p>

<h1>Listing schools</h1>


<%= render partial: "school", locals: {:school => @school} %>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
